.app-container {
  background-color: #9ba9eb;
  padding: 15px;
}

.app-logo {
  height: 35px;
}

.passwords-create-container {
  width: 100%;
  background-color: #5763a5;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 12px 20px 12px;
  border-radius: 8px;
}

.password-manager-image {
  max-height: 280px;
}

.password-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #454f84;
  padding: 10px 12px 15px 12px;
  border-radius: 10px;
}

.add-new-password-heading {
  color: #ffffff;
  font-size: 16px;
}

.input-container {
  display: flex;

  width: 100%;
  align-items: center;
  background-color: #f8fafc;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.input-icon {
  height: 22px;

  padding-left: 10px;
  padding-right: 10px;
}

.input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: #f8fafc;
  padding-left: 10px;
  padding-right: 5px;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Roboto';
  border-left: 2px solid #c3caea;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::placeholder {
  font-size: 14px;
}

.add-button-container {
  text-align: right;
}

.add-button {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0b69ff;
  padding: 8px 20px 8px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}
